{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'rating.css' %}"  media="screen"/>
  <style media="screen">
  .truckname {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
  }
  .timeslot {
    text-align: center;
    font-size: 16px;
  }
  #food_size {
    font-size: 22px;
    text-decoration: underline;
  }
  #price_size {
    font-size: 18px;
  }
  #anchor {
    font-family: sans-serif;
  }
  #menu_title {
    font-size: 28px;
    text-decoration: underline;
  }
  #replybutton {
    color: blue;
    font-size: 13px;
  }
  #comment {
    font-size: 18px;
  }
  </style>
{% endblock %}

{% block content %}
  <br><br>
  <div class="truckname">
    <b id="title">{{ object }}</b>
  </div>
  {% if object.start_time %}
  <br>
  <div class="timeslot">
    <i>Out from <b>{{ object.start_time }}</b> - <b>{{ object.end_time }}</b></i>
  </div>
  {% endif %}
  <br> <br>
  <div class="ui grid">
    <div class="eight wide column">
      {% if request.user == object.driver %}
        <a href="{% url 'foodtruck_email_view' object.id %}"><i class="blue mail icon"></i> Email Users</a><br>
        <a href="{% url 'foodtruck_update_view' object.id %}"><i class="blue edit icon"></i> Update Truck Information</a> <br>
        <a href="{% url 'menu_create_view' object.id %}"> <i class="blue food icon"></i> New Food Item</a> <br>
      {% endif %}
      <br>
      Average Rating Of Truck: {{ object.show_avg_rating|floatformat:2 }}
      {% if request.user.profile.is_user %}
      <form class="" action="{% url 'truck_rating_list_create_api_view' object.id %}" method="post">
        {% csrf_token %}
        <div class="star_rating">
          <input type="radio" name="rating" class="rating" value="1" {% if object.avg_rating == 1 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="2" {% if object.avg_rating == 2 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="3" {% if object.avg_rating == 3 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="4" {% if object.avg_rating == 4 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="5" {% if object.avg_rating == 5 %}checked='checked'{% endif %} style="display:none;">
        </div>
      </form>
      {% endif %}
      <br>
      {% if request.user.is_authenticated %}
        <form class="" action="{% url 'favorite_update_view' object.id %}" method="post">
          {% csrf_token %}
          {% if not object in request.user.profile.favorite.all %}
            <button type="submit" class='ui green submit button' name="favorite" value="Favorite"> <i class="star icon"></i> Favorite</button>
          {% else %}
            <button type="submit" class='ui red submit button' name="favorite" value="Unfavorite"> <i class="empty star icon"></i> Unfavorite</button>
          {% endif %}
        </form>
      {% endif %}
      <br><br>
      <div class="menu_items">
        <b id="menu_title">{{ object }}'s Menu</b> <br><br>
        {% for food in object.get_menu %}
          <div>
            <b id='food_size'>{{ food.food }}</b>
            {% if request.user == food.truck.driver %}
              <a id="anchor" href="{% url 'food_update_view' food.id %}">Update Food</a>
            {% endif %}
            <blockquote>
              <b id="price_size">${{ food.price|floatformat:2 }}</b>
              {% if request.user == food.truck.driver %}
                <a id="anchor" href="{% url 'price_update_view' food.id %}">Update Price</a>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="eight wide column">
        <div class="ui minimal comments">
          <h3 class="ui dividing header">Comments</h3>
          {% for comment in object.get_comment %}
          <div class="comment">
            <a class="avatar">
              <img src="{{ MEDIA_URL}}{{ comment.user.profile.image_url }}">
            </a>&nbsp;&nbsp; <a href="{% url 'profile_detail_view' comment.user.id %}">{{ comment.user }}</a> <i id="time">{{ comment.created|timesince }}</i><style>#time{ padding-left: 1.8em;}</style>
          </div>
          <div class="content">
            <b id="comment">&nbsp; &nbsp;{{ comment }}</b>
            {% if request.user == comment.user %}
            <div class="ui accordion">
              <div class="title">
                <b id="replybutton"><i class="edit icon"></i>Update Comment</b>
              </div>
              <div id="list">
                <p>
                  <form class="" action="{% url 'comment_update_view' comment.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment" rows="4" cols="35"></textarea>
                    <button type="submit" class="tiny ui blue submit button"><i class="edit icon"></i> Update!</button>
                  </form>
                </p>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="actions">
            <div class="reply">
              <div class="ui accordion">
                <div class="title">
                  <b id="replybutton"><i class="reply icon"></i>Reply</b>
                </div>
                <div id="list">
                  <p>
                    <form class="" action="{% url 'reply_create_view' comment.id %}" method="post">
                      {% csrf_token %}
                      <textarea name="reply" rows="4" cols="35"></textarea>
                      <button type="submit" class="tiny ui blue submit button"><i class="reply icon"></i> Reply!</button>
                    </form>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <blockquote>
            <div class="comments">
              {% for reply in comment.get_reply %}
              <div class="comment">
                <div class="contents">
                  <a class="avatar">
                    <img src="{{ MEDIA_URL}}{{ reply.user.profile.image_url }}">
                  </a>&nbsp; &nbsp; <a href="{% url 'profile_detail_view' reply.user.id %}">{{ reply.user }}</a> <i id="time">{{ reply.created|timesince }}</i><style>#time{ padding-left: 1.8em;}</style>
                </div>
                <div class="text">
                  <b id="comment">&nbsp; &nbsp;{{ reply }}</b>
                  {% if request.user == reply.user %}
                  <div class="reply">
                    <div class="ui accordion">
                      <div class="title">
                        <b id="replybutton"><i class="reply icon"></i>Update Reply</b>
                      </div>
                      <div id="list">
                        <p>
                          <form class="" action="{% url 'reply_update_view' reply.id %}" method="post">
                            {% csrf_token %}
                            <textarea name="reply" rows="4" cols="35"></textarea>
                            <button type="submit" class="tiny ui blue submit button"><i class="edit icon"></i> Update!</button>
                          </form>
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </blockquote>
          <br>
          {% endfor %}
          <form class="ui reply form" action="{% url 'comment_create_view' object.id %}" method="post">
            {% csrf_token %}
            <div class="field">
              <textarea name="comment" rows="5" cols="30"></textarea>
               <button type="submit" class="ui blue submit button"><i class="comment icon"></i> Comment!</button>
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'rating.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $('.ui.accordion').accordion({
        active: false,
        collapsible: true
      });
    })

    function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie !== '') {
           var cookies = document.cookie.split(';');
           for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
               // Does this cookie string begin with the name we want?
               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
       // these HTTP methods do not require CSRF protection
       return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
       beforeSend: function(xhr, settings) {
           if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
               xhr.setRequestHeader("X-CSRFToken", csrftoken);
           }
       }
      });

      $('document').ready(function(){
       $('.star_rating').rating(function(vote, event){
         console.log(vote, event);
         $.ajax({
           url: "{% url 'truck_rating_list_create_api_view' object.id %}",
           type: "POST",
           data: {rating: vote, truck_rated: {{ object.id }}},
           xhrFields: {
            withCredentials: true
           }
         });
       });
     })
  </script>
{% endblock %}
