{% extends 'base.html' %}

{% block content %}
  <br> <br>
  {% for food in menu %}
    <div>
      {{ food.food }}
      {% if request.user == food.truck.driver %}
        <a href="{% url 'food_update_view' food.id %}">Update Food</a>
      {% endif %}
      <blockquote>
        ${{ food.price }}
        {% if request.user == food.truck.driver %}
          <a href="{% url 'price_update_view' food.id %}">Update Price</a>
        {% endif %}
      </blockquote>
    </div>
  {% endfor %}
{% endblock %}
