{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'rating.css' %}"  media="screen"/>
  <style media="screen">
  #title {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
  }
  .menu_items{
    font-family: cursive;
  }
  #food_size {
    font-size: 22px;
    text-decoration: underline;
  }
  #price_size {
    font-size: 18px;
  }
  #anchor {
    font-family: sans-serif;
  }
  #menu_title {
    font-size: 28px;
    font-family: cursive;
    text-decoration: underline;
  }

  </style>
{% endblock %}

{% block content %}
<br>
  <b id="title">{{ object }}</b>
  <br> <br>
  <div class="ui grid">
    <div class="eight wide column">
      {% if request.user == object.driver %}
        <a href="{% url 'foodtruck_update_view' object.id %}"><i class="red edit icon"></i> Update Truck</a> <br>
      {% endif %}
      <a href="{% url 'menu_detail_view' object.id %}"><i class="red food icon"></i> View Menu</a><br><br>
      Average Rating Of Truck: {{ object.show_avg_rating|floatformat:2 }}
      {% if request.user.profile.is_user %}
      <form class="" action="{% url 'truck_rating_list_create_api_view' object.id %}" method="post">
        {% csrf_token %}
        <div class="star_rating">
          <input type="radio" name="rating" class="rating" value="1" {% if object.avg_rating == 1 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="2" {% if object.avg_rating == 2 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="3" {% if object.avg_rating == 3 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="4" {% if object.avg_rating == 4 %}checked='checked'{% endif %} style="display:none;">
          <input type="radio" name="rating" class="rating" value="5" {% if object.avg_rating == 5 %}checked='checked'{% endif %} style="display:none;">
        </div>
      </form>
      {% endif %}
      <br>
      {% if request.user.is_authenticated %}
        <form class="" action="{% url 'favorite_update_view' object.id %}" method="post">
          {% csrf_token %}
          {% if not object in request.user.profile.favorite.all %}
            <button type="submit" class='ui green submit button' name="favorite" value="Favorite"> <i class="star icon"></i> Favorite</button>
          {% else %}
            <button type="submit" class='ui red submit button' name="favorite" value="Unfavorite"> <i class="empty star icon"></i> Unfavorite</button>
          {% endif %}
        </form>
      {% endif %}
      <br><br>
      <div class="menu_items">
        <b id="menu_title">{{ object }}'s Menu</b> <br><br>
        {% for food in object.get_menu %}
          <div>
            <b id='food_size'>{{ food.food }}</b>
            {% if request.user == food.truck.driver %}
              <a id="anchor" href="{% url 'food_update_view' food.id %}">Update Food</a>
            {% endif %}
            <blockquote>
              <b id="price_size">${{ food.price|floatformat:2 }}</b>
              {% if request.user == food.truck.driver %}
                <a id="anchor" href="{% url 'price_update_view' food.id %}">Update Price</a>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="eight wide column">
        <div class="ui minimal comments">
          <h3 class="ui dividing header">Comments</h3>
          {% for comment in object.get_comment %}
          <div class="comment">
            <a class="avatar">
              <img src="{{ MEDIA_URL}}{{ comment.user.profile.image_url }}">
            </a>&nbsp;&nbsp; {{ comment.user }} <i id="time">{{ comment.created|timesince }}</i><style>#time{ padding-left: 1.8em;}</style>
          </div>
          <div class="content">
            <b>&nbsp; &nbsp;{{ comment.comment }}</b>
            {% if request.user == comment.user %}
              <a href="{% url 'comment_update_view' comment.id %}"> <i class="edit icon"></i> Update Comment</a>
            {% endif %}
          </div>
          <div class="actions">
            &nbsp; &nbsp;<a href="{% url 'reply_create_view' comment.id %}"> <i class="reply icon"></i> Reply</a>
          </div>
          <blockquote>
            <div class="comments">
              {% for reply in comment.get_reply %}
              <div class="comment">
                <div class="contents">
                  <a class="avatar">
                    <img src="{{ MEDIA_URL}}{{ reply.user.profile.image_url }}">
                  </a>&nbsp; &nbsp; {{ reply.user }} <i id="time">{{ reply.created|timesince }}</i><style>#time{ padding-left: 1.8em;}</style>
                </div>
                <div class="text">
                  <b>&nbsp; &nbsp;{{ reply }}</b>
                </div>
              </div>
              {% endfor %}
            </div>
          </blockquote>
          <br>
          {% endfor %}
          <form class="ui reply form" action="{% url 'comment_create_view' object.id %}" method="post">
            {% csrf_token %}
            <div class="field">
              <textarea name="comment" rows="5" cols="30"></textarea>
               <button type="submit"><i class="comment icon"></i> Comment!</button>
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'rating.js' %}"></script>
  <script type="text/javascript">
    function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie !== '') {
           var cookies = document.cookie.split(';');
           for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
               // Does this cookie string begin with the name we want?
               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
       // these HTTP methods do not require CSRF protection
       return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
       beforeSend: function(xhr, settings) {
           if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
               xhr.setRequestHeader("X-CSRFToken", csrftoken);
           }
       }
      });

      $('document').ready(function(){
       $('.star_rating').rating(function(vote, event){
         console.log(vote, event);
         $.ajax({
           url: "{% url 'truck_rating_list_create_api_view' object.id %}",
           type: "POST",
           data: {rating: vote, truck_rated: {{ object.id }}},
           xhrFields: {
            withCredentials: true
           }
         });
       });
     })
  </script>
{% endblock %}
