{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    .column {
      max-width: 550px;
    }
  </style>
{% endblock %}

{% block content %}
    <br><br><br>
    {% if request.user.profile.is_driver %}
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <div class="ui stacked form segment">
            <div class="ui attached message">
              <div class="header">
                <h2>Please Fill Out Your Truck's Information!</h2>
              </div>
            </div>
            <form class="ui form attached fluid segment" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <p><label for="id_truck_name">Truck name:</label>
              <input id="id_truck_name" maxlength="255" name="truck_name" type="text" required=""></p>
              <p><label for="id_picture">Picture:</label>
              <input id="id_picture" name="picture" type="file"></p>
              <p><label for="id_category">Category:</label>
                <select id="id_category" name="category" required="">
                  <option value="" selected="selected">---------</option>
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                  {% endfor %}
                </select></p>
              <p><label for="id_address">Address:</label>
              <input id="id_address" maxlength="255" name="address" type="text"></p>
              <p><label for="id_checked_in">Checked in:</label>
              <input id="id_checked_in" name="checked_in" type="checkbox"></p>
              <p><label for="id_start_time">Start time:</label>
              <input type="text" name="start_time" id="id_start_time" data-time-format="H:i"></p>
              <p><label for="id_end_time">End time:</label>
              <input type="text" name="end_time" id="id_end_time" data-time-format="H:i"></p>
              <input type="submit" class="ui blue submit button" name="" value="New Driver!">
            </form>
          </div>
        </div>
      </div>
    {% else %}
    <br><br>
      <div class="ui middle aligned center aligned grid">
        <div class="ui negative message">
          <div class="header">
            <h1>Not Supposed To Be Here!!!</h1> <hr>
          </div>
          <p>You are NOT assigned as a truck driver, so you cannot add any foodtrucks.</p>
        </div>
      </div>
    {% endif %}

{% endblock %}

{% block js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

  <script type="text/javascript">
    $('#id_start_time').timepicker({
        timeFormat: 'h:mm p',
        interval: 15,
        defaultTime: '11',
        startTime: '00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
    $('#id_end_time').timepicker({
        timeFormat: 'h:mm p',
        interval: 15,
        defaultTime: '11',
        startTime: '00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
  </script>
{% endblock %}
