{% extends 'base.html' %}

{% block content %}
  <br> <br>
  {% for food in menu %}
    <div>
      {{ food.food }}
      {% if request.user == food.truck.driver %}
        <a href="{% url 'food_update_view' food.id %}">Update Food</a>
      {% endif %}
      <blockquote>
        ${{ food.price }}
        {% if request.user == food.truck.driver %}
          <a href="{% url 'price_update_view' food.id %}">Update Price</a>
        {% endif %}
      </blockquote>
    </div>
  {% endfor %}
    <img src="{{ MEDIA_URL }}{{ truck_list.image_url }}" alt="Picture of {{ truck_list.image_url }}" />
  {% for comment in truck_list.get_comment %}
    <div>
      {{ comment.comment }}
    </div>
  {% endfor %}

{% endblock %}
