{% extends 'base.html' %}

{% block content %}
  <br> <br>
  {% for food in menu %}
    <div>
      {{ food.food }}
      {% if request.user == food.truck.driver %}
        <a href="{% url 'food_update_view' food.id %}">Update Food</a>
      {% endif %}
      <blockquote>
        ${{ food.price }}
        {% if request.user == food.truck.driver %}
          <a href="{% url 'price_update_view' food.id %}">Update Price</a>
        {% endif %}
      </blockquote>
    </div>
  {% endfor %}
    <img src="{{ MEDIA_URL }}{{ object.image_url }}" alt="Picture of {{ object.image_url }}" />

  <div class="ui threaded comments">
    <h3 class="ui dividing header">Comments</h3>
    {% for comment in object.get_comment %}
    <div class="comments">
      {{ comment.user }} <i id="time">{{ comment.created|timesince }}</i><style>#time{ padding-left: 1.8em;}</style>
    </div>
    <div class="content">
      <b>{{ comment.comment }}</b>
    </div>
    <div class="actions">
      <a href="{% url 'reply_create_view' comment.id %}">Reply</a>
    </div>
    <blockquote>
      <div class="comments">
        {% for reply in comment.get_reply %}
        <div class="comment">
          <div class="content">
            {{ reply.user }} <i id="time">{{ reply.created|timesince }}</i><style>#time{ padding-left: 1.8em;}</style>
          </div>
          <div class="text">
            <b>{{ reply }}</b>
          </div>

        </div>
      </div>
      {% endfor %}
    </blockquote>
    <br> <br>
    {% endfor %}
    <form class="ui reply form" action="{% url 'comment_create_view' object.id %}" method="post">
      {% csrf_token %}
      <div class="field">
        <textarea name="comment" rows="8" cols="40"></textarea>
         <button type="submit"><i class="reply icon"></i> Reply! </button>
      </div>
    </form>

  </div>


{% endblock %}
