{% extends 'base.html' %}

{% block content %}
  {% if request.user.profile.is_driver %}
    <br><br><br>
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <!-- {% comment %}
      <p>
        <input type="text" name="food" placeholder="Name of Food Item">
      </p>
      <p>
        $<input type="number" name="price" step=".01" placeholder="Price">
      </p>
      {% if request.user == object.truck.driver %}
        <p>
          <select>
            <option value="truck">{{ object.truck }}</option>
          </select>
        </p>
      {% endif %}
      {% endcomment %} -->
      <input type="submit" class="ui blue submit button" name="" value="New Food Item!">
    </form>

    <b><a href="{% url 'index_view' %}">Finished Making Menu, Back to Home</a></b>
  {% else %}
    <h1>Not Supposed To Be Here!!!</h1>
  {% endif %}
{% endblock %}
