{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    .column {
      max-width: 550px;
    }
    .negative {
      max-width: 550px;
    }
  </style>
{% endblock %}

{% block content %}
  {% if request.user == object.truck.driver %}
    <br><br><br>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui stacked form segment">
          <div class="ui attached message">
            <div class="header">
              <h2>Update Price</h2>
            </div>
          </div>
          <form class="ui form attached fluid segment" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="ui blue submit button" name="" value="Update!">
          </form>
        </div>
        <b><a href="{% url 'index_view' %}">Finished Making Menu, Back to Home</a></b>
      </div>
    </div>

  {% else %}
  <br><br><br>
    <div class="ui middle aligned center aligned grid">
      <div class="ui negative message">
        <div class="header">
          <h1>Not Supposed To Be Here!!!</h1> <hr>
        </div>
        <p>Please go back and find your own truck. Don't try to change the price of other truck's items.</p>
      </div>
    </div>
  {% endif %}
{% endblock %}
