{% extends 'base.html' %}

{% block content %}
  {% if object.user == request.user %}
    <h1>Welcome {{ request.user }}</h1>
  {% else %}
    <h1>{{ object.user }}</h1>
  {% endif %}

    <img class="ui medium rounded image" id="profile_pic" src="{{ MEDIA_URL }}{{ object.image_url }}" alt="Picture of {{ object.image_url }}" /><br>

    {% if object.user == request.user %}
      <a href="{% url 'image_update_view' user.id %}"> <i class="image icon"></i> Update Image</a> <br>
      <a href="{% url 'email_update_view' user.id %}"> <i class="mail outline icon"></i> Update Email</a><br>
      <a href="{% url 'profile_list_api_view' %}">View your API</a>
    {% endif %}

    <h3>Favorites</h3>
    {% for commenter in object.contents %}
    <div class="">
      <a href="{% url 'foodtruck_detail_view' commenter.id %}">{{ commenter }}</a>
    </div>
    {% endfor %}
{% endblock %}
