{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foodtruck Finder</title>

    <link type="text/css" rel="stylesheet" href="{% static 'semantic.css' %}"  media="screen"/>

    <style>
      .body {
        padding: 25px;
      }
      #map {
        height: 450px;
        width: 125%;
        float: right;
      }
      img {
        height: 350px;
        width: 370px;
      }
      .scrollFix {
        line-height: 1.20;
        /*overflow: hidden;*/
        height: 60px;
        width: 60px;
      }
      #options {
        color: white;
      }

    </style>
  </head>
  <body>

    <div class="body">
      <div class="ui sidebar vertical left inverted menu">
        {% if not request.user.is_authenticated %}
          <ui><a id="options" href="{% url 'login' %}"> <i class="user icon"></i> Login</a></ui>
          <ul><a id="options" href="{% url 'user_create_view' %}"> <i class="add user icon"></i> Create New User</a></ul>
        {% else %}
          <ul><a id="options" href="{% url 'index_view' %}"> <i class="home icon"></i> Home</a></ul>
          <ul><a id="options" href="{% url 'commenter_detail_view' user.id %}">Profile</a></ul>
          <ul><a id="options" href="{% url 'category_create_view' %}">New Food Category</a></ul>
          <ul><a id="options" href="{% url 'foodtruck_create_view' %}"> <i class="bus icon"></i> New Food Truck</a></ul>
          <ul><a id="options" href="{% url 'commenter_create_view' %}"> <i class="add user icon"></i> New Commenter</a></ul>
          <ul><a id="options" href="{% url 'menu_create_view' %}"> <i class="food icon"></i> New Food Item</a></ul>
          <ul><a id="options" href="{% url 'logout' %}?next={% url 'index_view' %}"> <i class="power icon"></i> Logout</a></ul>
        {% endif %}
      </div>
      <div class="pusher">
        <div class="ui basic icon fixed menu">
          <a id="toggle" class="item">
            <i class="content icon"></i>
            Menu
          </a>
          <div class="right menu">
            <h4>Signed In As: {{ request.user }}</h4>
          </div>
        </div>

      </div>
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/sidebar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/rating.min.js"></script>
    <link type="text/javascript" rel="stylesheet" href="{% static 'semantic.js' %}"  media="screen"/>
    <script type="text/javascript">
      $(function() {
        $('.ui.accordion').accordion();
        $('#toggle').click(function() {
          $('.ui.sidebar').sidebar('toggle');
        });
        $('.rating').rating();

      });
      </script>
  </body>
</html>
