{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foodtruck Finder</title>

    <link type="text/css" rel="stylesheet" href="{% static 'semantic.css' %}"  media="screen"/>

    <style>
      .body {
        padding: 25px;
      }
      #map {
        height: 450px;
        width: 125%;
        float: right;
      }
      img {
        height: 350px;
        width: 370px;
      }
      .scrollFix {
        line-height: 1.20;
        /*overflow: hidden;*/
        height: 60px;
        width: 60px;
      }

    </style>
  </head>
  <body>

    <div class="body">
      <div class="ui sidebar vertical left inverted menu">
        {% if not request.user.is_authenticated %}
          <ui><a href="{% url 'login' %}">Login</a></ui>
          <ul><a href="{% url 'user_create_view' %}">Create New User</a></ul>
        {% else %}
          <ul><a href="{% url 'category_create_view' %}">New Food Category</a></ul>
          <ul><a href="{% url 'foodtruck_create_view' %}">New Food Truck</a></ul>
          <ul><a href="{% url 'commenter_create_view' %}">New Commenter</a></ul>
          <ul><a href="{% url 'menu_create_view' %}">New Food Item</a></ul>
          <ul><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></ul>
        {% endif %}
      </div>
      {% comment %}
      <div class="pusher">
        <div class="ui basic icon fixed menu">
          <a id="toggle" class="item">
            <i class="content icon"></i>
            Menu
          </a>
        </div>
      </div>
      {% endcomment %}

      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    
    <link type="text/javascript" rel="stylesheet" href="{% static 'semantic.js' %}"  media="screen"/>
    <script type="text/javascript">
      $(function() {
        $('.ui.accordion').accordion();
        // $('#toggle').click(function() {
        //   $('.ui.sidebar').sidebar('toggle');
        // });
        // $('.rating').rating();
      });
      </script>
  </body>
</html>
