{% extends 'base.html' %}

{% block content %}
{{ request.user }}
  <h1>Find your Food Truck</h1>

  {% for truck in truck_list %}
  <div class="">
    <a href="{% url 'foodtruck_detail_view' truck.id %}">{{ truck }}</a>
    <blockquote>
      <p>
        Type: {{ truck.category.food_type }}
      </p>
      <p>
        Latitude: {{ truck.latitude }}<br>
        Longitude: {{ truck.longitude }}
        {% if request.user == truck.driver %}
          <a href="{% url 'location_update_view' truck.id %}">Move Location</a>
        {% endif %}
      </p>
      {% if request.user == truck.driver %}
        <a href="{% url 'checkin_update_view' truck.id %}">Checkin</a>
        {% comment %}
        <!-- <form class="" action="{% url 'checkin_update_view' truck.id %}" method="post">
          <input type="checkbox" name="checked_in">
          {% csrf_token %}
          {% if truck.checked_in %}
            <input type="submit" name="" value="Checkout!">
          {% else %}
            <input type="submit" name="" value="Checkin!">
          {% endif %}
        </form> -->
        {% endcomment %}
      {% endif %}
    </blockquote>
  </div>
  {% endfor %}

{% endblock %}
