{% extends 'base.html' %}

{% block content %}
{{ request.user }}

  <h1>Find your Food Truck</h1>

  {% for truck in truck_list %}
  <div class="">
    <a href="{% url 'foodtruck_detail_view' truck.id %}">{{ truck }}</a>
    <blockquote>
      <p>
        Type: {{ truck.category.food_type }}
      </p>
      <p>
        Latitude: {{ truck.latitude }}<br>
        Longitude: {{ truck.longitude }}
        {% if request.user == truck.driver %}
          <a href="{% url 'location_update_view' truck.id %}">Move Location</a>
        {% endif %}
      </p>
      {% if request.user == truck.driver %}
        <a href="{% url 'checkin_update_view' truck.id %}">Checkin</a>
        {% comment %}
        <!-- <form class="" action="{% url 'checkin_update_view' truck.id %}" method="post">
          <input type="checkbox" name="checked_in">
          {% csrf_token %}
          {% if truck.checked_in %}
            <input type="submit" name="" value="Checkout!">
          {% else %}
            <input type="submit" name="" value="Checkin!">
          {% endif %}
        </form> -->
        {% endcomment %}
      {% endif %}
    </blockquote>
  </div>
  {% endfor %}



  <div id="map"></div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript">
          // var lat = {{ location.lat }};
          // var lng = {{ location.lng }};
          function initMap() {
            // var location = [{lat: 34.852619, lng: -82.394012},
            //                 {lat: 34.8625, lng: -82.3857},
            //                 {lat: 34.85521, lng: -82.38909},
            //                 {lat: 34.8623, lng: -82.39112}];
            // var location = [];
            // for (var x = 0; x <= location_list.length; x++ ){
            //   location.push({{x.lat}}, {{x.lng}});
            // };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: {lat: 34.8574, lng: -82.390189},
            });
            var latlng = $.getJSON("http://localhost:8000/api/foodtrucks/", function(result) {
              // console.log(result)
              var icon = {url: "https://upload.wikimedia.org/wikipedia/commons/5/55/Question_Mark.svg",
                          size: new google.maps.Size(20, 32),
                          origin: new google.maps.Point(0, 0),
                          anchor: new google.maps.Point(17, 34),
                          scaledSize: new google.maps.Size(30, 32)};
              for (var i = 0; i < result.length; i++) {
                // console.log(i);
                var obj = result[i];
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(obj.latitude, obj.longitude),
                    icon: icon,
                    map: map,
                    content: obj.truck_name
                  });
                  var infowindow = new google.maps.InfoWindow();
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  google.maps.event.trigger(marker, 'click');
                }
              }
            });
          }
      </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ2GhgOOCaoypV0JCC4NnxS-M0enWpN64&callback=initMap">
    </script>
{% endblock %}
