{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <style media="screen">
    .star.icon {
      color: #DAA520;
    }
    .titlename {
      text-align: center;
      text-decoration: underline;
    }
    .list_stuff {
      font-size: 32px;
    }
  </style>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <h1 class="titlename">Chowster</h1>

  <div class="ui grid" >
      <div class="eight wide column">
        {% if not request.user.is_authenticated %}
        <div class="ui hidden div"></div>
        <div class="ui corner labeled input">
          <form class="" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              {{ login.as_p }}
              <input class="ui positive button" type="submit" name="" value="Login!">
          </form>
        </div>
        {% else %}
        <a class="list_stuff" href="{% url 'foodtruck_list_view' %}"><i class="list layout icon"></i> List Of Trucks</a>
        <br><br><br><br><br><br>
        <a class="list_stuff" href="{% url 'map_view' %}"><i class="map icon"></i> View Map on Full Screen</a>
        {% endif %}
    </div>
    <div class="eight wide column">
      Find Which Trucks Are Around You! <br>
      Address: <input type="text" name="" id="address">
      <input type="button" value="Find Lat/Lng" onclick="CodeAddress()">

      <script type="text/javascript">
        function CodeAddress() {
          var geocoder = new google.maps.Geocoder();
          // var map = new google.maps.Map(document.getElementById('map'), {
          //   zoom: 13,
          //   center: {lat: 34.8574, lng: -82.390189},
          // });
          var address = document.getElementById('address').value;

          geocoder.geocode({'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: results[0].geometry.location,
              });
              // map.setCenter(results[0].geometry.location);

              $.getJSON("/api/foodtrucks/", function(result) {



                  for (var i = 0; i < result.length; i++) {
                    // console.log(i);
                    var obj = result[i];
                    var x = obj.find_lat_lng;
                    console.log(x);
                      if (obj.checked_in == true) {
                        var marker = new google.maps.Marker({
                          position: x,
                          icon: {url: obj.picture,
                                  size: new google.maps.Size(50, 50),
                                  origin: new google.maps.Point(0, 0),
                                  anchor: new google.maps.Point(17, 34),
                                  scaledSize: new google.maps.Size(40, 45)},
                          map: map,
                          content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'                        });

                        // Starting the infowindow popup
                        var infowindow = new google.maps.InfoWindow();
                        // Adds the click part of the infowindow on the marker
                        google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                          return function() {
                            infowindow.setContent(this.content);
                            infowindow.open(map, this);
                          };
                        })(marker, i, infowindow));
                        // bounds.extend(marker.position);
                        // Has the infowindows pop out instantly
                        // google.maps.event.trigger(marker, 'click');
                      }


                  }
              });
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
              // alert("Lat/Lng: " + results[0].geometry.location);
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      </script>
      <br><br>


      <div id="map"></div>

          <script type="text/javascript">

          function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: {lat: 34.8574, lng: -82.390189},
             });

             var geocoder = new google.maps.Geocoder();
             // var map = new google.maps.Map(document.getElementById('map'), {
             //   zoom: 13,
             //   center: {lat: 34.8574, lng: -82.390189},
             // });
             var address = document.getElementById('address').value;
             var infoWindow = new google.maps.InfoWindow({map: map});

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Your Location Found.');
                map.setCenter(pos);
              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }




                var latlng = $.getJSON("/api/foodtrucks/", function(result) {

                  // console.log(result)


                  for (var i = 0; i < result.length; i++) {
                    // console.log(i);
                    var obj = result[i];
                    console.log(obj.address);
                    var x = obj.find_lat_lng;
                    console.log(x);
                    console.log(obj.picture);

                      if (obj.checked_in == true) {
                        var marker = new google.maps.Marker({
                          position: x,
                          icon: {url: obj.picture,
                                      size: new google.maps.Size(50, 50),
                                      origin: new google.maps.Point(0, 0),
                                      anchor: new google.maps.Point(17, 34),
                                      scaledSize: new google.maps.Size(40, 45)},
                          map: map,

                          content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                        });

                        // Starting the infowindow popup
                        var infowindow = new google.maps.InfoWindow();
                        // Adds the click part of the infowindow on the marker
                        google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                          return function() {
                            infowindow.setContent(this.content);
                            infowindow.open(map, this);
                          };
                        })(marker, i, infowindow));
                        // bounds.extend(marker.position);
                        // Has the infowindows pop out instantly
                        // google.maps.event.trigger(marker, 'click');
                      }


                  }
                });
              }
              function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                                      'Error: The Geolocation service failed.' :
                                      'Error: Your browser doesn\'t support geolocation.');
              }
          </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ2GhgOOCaoypV0JCC4NnxS-M0enWpN64&callback=initMap">
        </script>


    </div>
</div>



{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

<script type="text/javascript">
$(function() {
  $('.ui.accordion').accordion({
    active: false,
    collapsible: true
  });
})
</script>

{% endblock %}

<!-- NOT IN THE PROGRAM, BUT JUST IN CASE I NEED IT -->

Find Your Address Based off Lat/Long <br>
Latitude:
  <input type="text" id="Latitude" />
  Latitude:
  <input type="text" id="Longitude"/>
  <input type="button" value="Find Address" onclick="GetAddress()" />
  <!-- {% comment %}
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  {% endcomment %} -->
  <script type="text/javascript">
  // This is my reverse geocode function
      function GetAddress() {
          var latitude = parseFloat(document.getElementById("Latitude").value);
          var longitude = parseFloat(document.getElementById("Longitude").value);
          var latlng = new google.maps.LatLng(latitude, longitude);
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({ 'latLng': latlng }, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  if (results[0]) {
                      alert("Location: " + results[0].formatted_address);
                  }
              }
          });
      }
</script> <br>
