{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    .search {
      text-align: : center;
    }
    #map {
      height: 100%;
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
<br><br>
  Find Which Trucks Are Around You! <br>
  Address: <input type="text" name="" id="address">
  <input type="button" value="Find Lat/Lng" onclick="CodeAddress()">
<script type="text/javascript">
  function CodeAddress() {
    var geocoder = new google.maps.Geocoder();
    // var map = new google.maps.Map(document.getElementById('map'), {
    //   zoom: 13,
    //   center: {lat: 34.8574, lng: -82.390189},
    // });
    var address = document.getElementById('address').value;

    geocoder.geocode({'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: results[0].geometry.location,
        });
        // map.setCenter(results[0].geometry.location);

        $.getJSON("/api/foodtrucks/", function(result) {

          var icon = {
            Mexican: {url: 'http://cdn.mysitemyway.com/icons-watermarks/simple-red/iconathon/iconathon_food-truck/iconathon_food-truck_simple-red_512x512.png',
                      size: new google.maps.Size(40, 40),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(30, 35)},
            Greek: {url: 'http://st.depositphotos.com/1005920/4316/i/110/depositphotos_43162503-Truck-icon.jpg',
                      size: new google.maps.Size(50, 50),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(40, 45)},
            IceCream: {url: 'https://d30y9cdsu7xlg0.cloudfront.net/png/56083-200.png',
                        size: new google.maps.Size(40, 40),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(30, 35)},
            Doughnut: {url: 'http://st2.depositphotos.com/5934840/11939/v/950/depositphotos_119390456-Donut-truck-fast-food-icon.jpg',
                        size: new google.maps.Size(50, 50),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(40, 45)},
            FastFood: {url: 'http://us.123rf.com/450wm/jemastock/jemastock1608/jemastock160814254/61924582-hamburger-delivery-fast-food-urban-business-icon-flat-and-isolated-design-vector-illustration.jpg?ver=6',
                      size: new google.maps.Size(40, 40),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(30, 35)},
            BBQ: {url: 'http://rlv.zcache.com/bbq_with_cutlery_icon_flyer-r859cba6d8afb423ca17066861ae2e0ca_vgvyf_8byvr_324.jpg',
                      size: new google.maps.Size(50, 50),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(40, 45)},
            Organic: {url: 'http://previews.123rf.com/images/alexutemov/alexutemov1508/alexutemov150800045/43202021-Vegan-city-food-car-icon-Nature-product-vitamin-symbol-auto-restaurant-mobile-kitchen-hot-fastfood-g-Stock-Vector.jpg',
                        size: new google.maps.Size(40, 40),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(30, 35)},
            Deserts: {url: 'http://i.ebayimg.com/images/i/221607405151-0-1/s-l1000.jpg',
                        size: new google.maps.Size(50, 50),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(40, 45)},
            Other: {url: 'https://d30y9cdsu7xlg0.cloudfront.net/png/188819-200.png',
                        size: new google.maps.Size(50, 50),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(40, 45)},
          }

            for (var i = 0; i < result.length; i++) {
              // console.log(i);
              var obj = result[i];
              var x = obj.find_lat_lng;
              console.log(x);
              if (obj.category == 1) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Mexican'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'                        });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 2) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Greek'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 3) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['IceCream'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 4) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Doughnut'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 5) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['FastFood'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 6) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['BBQ'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 7) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Organic'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 8) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Deserts'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 9) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Other'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
            }
        });
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        // alert("Lat/Lng: " + results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<br><br>


<div id="map"></div>

    <script type="text/javascript">

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {lat: 34.8574, lng: -82.390189},
       });

       var geocoder = new google.maps.Geocoder();
       // var map = new google.maps.Map(document.getElementById('map'), {
       //   zoom: 13,
       //   center: {lat: 34.8574, lng: -82.390189},
       // });
       var address = document.getElementById('address').value;
       var infoWindow = new google.maps.InfoWindow({map: map});

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Your Location Found.');
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }




          var latlng = $.getJSON("/api/foodtrucks/", function(result) {

            // console.log(result)

            // Create a custom marker
            var icon = {
              Mexican: {url: 'http://cdn.mysitemyway.com/icons-watermarks/simple-red/iconathon/iconathon_food-truck/iconathon_food-truck_simple-red_512x512.png',
                        size: new google.maps.Size(40, 40),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(30, 35)},
              Greek: {url: 'http://st.depositphotos.com/1005920/4316/i/110/depositphotos_43162503-Truck-icon.jpg',
                        size: new google.maps.Size(50, 50),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(40, 45)},
              IceCream: {url: 'https://d30y9cdsu7xlg0.cloudfront.net/png/56083-200.png',
                          size: new google.maps.Size(40, 40),
                          origin: new google.maps.Point(0, 0),
                          anchor: new google.maps.Point(17, 34),
                          scaledSize: new google.maps.Size(30, 35)},
              Doughnut: {url: 'http://st2.depositphotos.com/5934840/11939/v/950/depositphotos_119390456-Donut-truck-fast-food-icon.jpg',
                          size: new google.maps.Size(50, 50),
                          origin: new google.maps.Point(0, 0),
                          anchor: new google.maps.Point(17, 34),
                          scaledSize: new google.maps.Size(40, 45)},
              FastFood: {url: 'http://us.123rf.com/450wm/jemastock/jemastock1608/jemastock160814254/61924582-hamburger-delivery-fast-food-urban-business-icon-flat-and-isolated-design-vector-illustration.jpg?ver=6',
                        size: new google.maps.Size(40, 40),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(30, 35)},
              BBQ: {url: 'http://rlv.zcache.com/bbq_with_cutlery_icon_flyer-r859cba6d8afb423ca17066861ae2e0ca_vgvyf_8byvr_324.jpg',
                        size: new google.maps.Size(50, 50),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(40, 45)},
              Organic: {url: 'http://previews.123rf.com/images/alexutemov/alexutemov1508/alexutemov150800045/43202021-Vegan-city-food-car-icon-Nature-product-vitamin-symbol-auto-restaurant-mobile-kitchen-hot-fastfood-g-Stock-Vector.jpg',
                          size: new google.maps.Size(40, 40),
                          origin: new google.maps.Point(0, 0),
                          anchor: new google.maps.Point(17, 34),
                          scaledSize: new google.maps.Size(30, 35)},
              Deserts: {url: 'http://i.ebayimg.com/images/i/221607405151-0-1/s-l1000.jpg',
                          size: new google.maps.Size(50, 50),
                          origin: new google.maps.Point(0, 0),
                          anchor: new google.maps.Point(17, 34),
                          scaledSize: new google.maps.Size(40, 45)},
              Other: {url: 'https://d30y9cdsu7xlg0.cloudfront.net/png/188819-200.png',
                          size: new google.maps.Size(50, 50),
                          origin: new google.maps.Point(0, 0),
                          anchor: new google.maps.Point(17, 34),
                          scaledSize: new google.maps.Size(40, 45)},
            }
            for (var i = 0; i < result.length; i++) {
              // console.log(i);
              var obj = result[i];
              console.log(obj.address);
              var x = obj.find_lat_lng;
              console.log(x);
              if (obj.category == 1) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Mexican'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 2) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Greek'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 3) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['IceCream'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 4) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Doughnut'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 5) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['FastFood'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 6) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['BBQ'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 7) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Organic'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 8) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Deserts'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
              if (obj.category == 9) {
                if (obj.checked_in == true) {
                  var marker = new google.maps.Marker({
                    position: x,
                    icon: icon['Other'],
                    map: map,
                    content: '<div class="scrollFix">' + '<b>' + obj.truck_name + '</b>' + "<br><hr>Address: " + obj.address + '</div>'
                  });

                  // Starting the infowindow popup
                  var infowindow = new google.maps.InfoWindow();
                  // Adds the click part of the infowindow on the marker
                  google.maps.event.addListener(marker, 'click', (function(marker, i, infowindow) {
                    return function() {
                      infowindow.setContent(this.content);
                      infowindow.open(map, this);
                    };
                  })(marker, i, infowindow));
                  // bounds.extend(marker.position);
                  // Has the infowindows pop out instantly
                  // google.maps.event.trigger(marker, 'click');
                }
              }
            }
          });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        }
    </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ2GhgOOCaoypV0JCC4NnxS-M0enWpN64&callback=initMap">
  </script>

{% endblock %}
