{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    .column {
      max-width: 500px;
    }
  </style>
{% endblock %}

{% block content %}
<br><br>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div class="ui stacked form segment">
        <div class="ui attached message">
          <div class="header">
            <h2>Welcome to Chowster</h2>
            <p>Fill out the form to login as a user!</p>
          </div>
        </div>
        <form class="ui form attached fluid segment" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="ui fluid teal button" name="" value="New User!">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
